
CNN estimator/cnnmodel_dir/checkpoint
CNN estimator/cnnmodel_dir/eval/events.out.tfevents.1580528471.LAPTOP-42K07IEA
CNN estimator/cnnmodel_dir/events.out.tfevents.1580528457.LAPTOP-42K07IEA
CNN estimator/cnnmodel_dir/export/exporter/1580528471/saved_model.pb
CNN estimator/cnnmodel_dir/export/exporter/1580528471/variables/variables.data-00000-of-00001
CNN estimator/cnnmodel_dir/export/exporter/1580528471/variables/variables.index
CNN estimator/cnnmodel_dir/export/exporter/1580528520/saved_model.pb
CNN estimator/cnnmodel_dir/export/exporter/1580528520/variables/variables.data-00000-of-00001
CNN estimator/cnnmodel_dir/export/exporter/1580528520/variables/variables.index
CNN estimator/cnnmodel_dir/graph.pbtxt
CNN estimator/cnnmodel_dir/keras/checkpoint
CNN estimator/cnnmodel_dir/keras/keras_model.ckpt.data-00000-of-00001
CNN estimator/cnnmodel_dir/keras/keras_model.ckpt.index
CNN estimator/cnnmodel_dir/keras/keras_model.ckpt.meta
CNN estimator/cnnmodel_dir/model.ckpt-200.data-00000-of-00001
CNN estimator/cnnmodel_dir/model.ckpt-200.index
CNN estimator/cnnmodel_dir/model.ckpt-200.meta
CNN estimator/cnnmodel_dir/model.ckpt-300.data-00000-of-00001
CNN estimator/cnnmodel_dir/model.ckpt-300.index
CNN estimator/cnnmodel_dir/model.ckpt-300.meta
CNN estimator/cnnmodel_dir/model.ckpt-400.data-00000-of-00001
CNN estimator/cnnmodel_dir/model.ckpt-400.index
CNN estimator/cnnmodel_dir/model.ckpt-400.meta
CNN estimator/cnnmodel_dir/model.ckpt-500.data-00000-of-00001
CNN estimator/cnnmodel_dir/model.ckpt-500.index
CNN estimator/cnnmodel_dir/model.ckpt-500.meta
CNN estimator/cnnmodel_dir/model.ckpt-561.data-00000-of-00001
CNN estimator/cnnmodel_dir/model.ckpt-561.index
CNN estimator/cnnmodel_dir/model.ckpt-561.meta
CNN estimator/training log/train_estimator_log_0131_1145.txt
CNN estimator/training log/train_estimator_log_0131_1959.txt
CNN estimator/training log/train_estimator_log_0131_2027.txt
CNN estimator/training log/train_estimator_log_0131_2028.txt
CNN estimator/training log/train_estimator_log_0131_2042.txt
CNN estimator/training log/train_estimator_log_0131_2056.txt
CNN estimator/training log/train_estimator_log_0131_2100.txt
CNN estimator/training log/train_estimator_log_0131_2107.txt
CNN estimator/training log/train_estimator_log_0131_2201.txt
CNN estimator/training log/train_estimator_log_0131_2203.txt
CNN estimator/training log/train_estimator_log_0131_2204.txt
CNN estimator/training log/train_estimator_log_0131_2206.txt
CNN estimator/training log/train_estimator_log_0131_2211.txt
CNN estimator/training log/train_estimator_log_0131_2213.txt
CNN estimator/training log/train_estimator_log_0131_2218.txt
CNN estimator/training log/train_estimator_log_0131_2226.txt
CNN estimator/training log/train_estimator_log_0131_2233.txt
CNN estimator/training log/train_estimator_log_0131_2240.txt
CNN estimator/cnnmodel_dir/eval/events.out.tfevents.1580529191.LAPTOP-42K07IEA
CNN estimator/cnnmodel_dir/events.out.tfevents.1580529179.LAPTOP-42K07IEA
CNN estimator/cnnmodel_dir/export/exporter/1580529192/saved_model.pb
CNN estimator/cnnmodel_dir/export/exporter/1580529192/variables/variables.data-00000-of-00001
CNN estimator/cnnmodel_dir/export/exporter/1580529192/variables/variables.index
CNN estimator/cnnmodel_dir/export/exporter/1580529240/saved_model.pb
CNN estimator/cnnmodel_dir/export/exporter/1580529240/variables/variables.data-00000-of-00001
CNN estimator/cnnmodel_dir/export/exporter/1580529240/variables/variables.index
CNN estimator/training log/train_estimator_log_0131_2248.txt
CNN estimator/training log/train_estimator_log_0131_2252.txt
CNN estimator/cnnmodel_dir/eval/events.out.tfevents.1580579685.LAPTOP-42K07IEA
CNN estimator/cnnmodel_dir/events.out.tfevents.1580579671.LAPTOP-42K07IEA
CNN estimator/cnnmodel_dir/export/exporter/1580579685/saved_model.pb
CNN estimator/cnnmodel_dir/export/exporter/1580579685/variables/variables.data-00000-of-00001
CNN estimator/cnnmodel_dir/export/exporter/1580579685/variables/variables.index
CNN estimator/cnnmodel_dir/export/exporter/1580579736/saved_model.pb
CNN estimator/cnnmodel_dir/export/exporter/1580579736/variables/variables.data-00000-of-00001
CNN estimator/cnnmodel_dir/export/exporter/1580579736/variables/variables.index
CNN estimator/cnnmodel_dir/model.ckpt-529.data-00000-of-00001
CNN estimator/cnnmodel_dir/model.ckpt-529.index
CNN estimator/cnnmodel_dir/model.ckpt-529.meta
CNN estimator/training log/train_estimator_log_0201_1251.txt
CNN estimator/training log/train_estimator_log_0201_1254.txt
embedding/glove.6B.200d.txt
embedding/glove.6B.50d.txt
estimator CNN/training log/train_estimator_log_0201_1254.txt
estimator CNN/training log/train_estimator_log_0201_1251.txt
estimator CNN/training log/train_estimator_log_0131_2252.txt
estimator CNN/training log/train_estimator_log_0131_2248.txt
estimator CNN/training log/train_estimator_log_0131_2240.txt
estimator CNN/training log/train_estimator_log_0131_2233.txt
estimator CNN/training log/train_estimator_log_0131_2226.txt
estimator CNN/training log/train_estimator_log_0131_2218.txt
estimator CNN/training log/train_estimator_log_0131_2213.txt
estimator CNN/training log/train_estimator_log_0131_2211.txt
estimator CNN/training log/train_estimator_log_0131_2206.txt
estimator CNN/training log/train_estimator_log_0131_2204.txt
estimator CNN/training log/train_estimator_log_0131_2203.txt
estimator CNN/training log/train_estimator_log_0131_2201.txt
estimator CNN/training log/train_estimator_log_0131_2107.txt
estimator CNN/training log/train_estimator_log_0131_2100.txt
estimator CNN/training log/train_estimator_log_0131_2056.txt
estimator CNN/training log/train_estimator_log_0131_2042.txt
estimator CNN/training log/train_estimator_log_0131_2028.txt
estimator CNN/training log/train_estimator_log_0131_2027.txt
estimator CNN/training log/train_estimator_log_0131_1959.txt
estimator CNN/training log/train_estimator_log_0131_1145.txt
estimator CNN/cnnmodel_dir/model.ckpt-529.meta
estimator CNN/cnnmodel_dir/model.ckpt-529.index
estimator CNN/cnnmodel_dir/model.ckpt-529.data-00000-of-00001
estimator CNN/cnnmodel_dir/model.ckpt-500.meta
estimator CNN/cnnmodel_dir/model.ckpt-500.index
estimator CNN/cnnmodel_dir/model.ckpt-500.data-00000-of-00001
estimator CNN/cnnmodel_dir/model.ckpt-400.meta
estimator CNN/cnnmodel_dir/model.ckpt-400.index
estimator CNN/cnnmodel_dir/model.ckpt-400.data-00000-of-00001
estimator CNN/cnnmodel_dir/model.ckpt-300.meta
estimator CNN/cnnmodel_dir/model.ckpt-300.index
estimator CNN/cnnmodel_dir/model.ckpt-300.data-00000-of-00001
estimator CNN/cnnmodel_dir/model.ckpt-200.meta
estimator CNN/cnnmodel_dir/model.ckpt-200.index
estimator CNN/cnnmodel_dir/model.ckpt-200.data-00000-of-00001
estimator CNN/cnnmodel_dir/keras/keras_model.ckpt.meta
estimator CNN/cnnmodel_dir/keras/keras_model.ckpt.index
estimator CNN/cnnmodel_dir/keras/keras_model.ckpt.data-00000-of-00001
estimator CNN/cnnmodel_dir/keras/checkpoint
estimator CNN/cnnmodel_dir/graph.pbtxt
estimator CNN/cnnmodel_dir/export/exporter/1580579736/variables/variables.index
estimator CNN/cnnmodel_dir/export/exporter/1580579736/variables/variables.data-00000-of-00001
estimator CNN/cnnmodel_dir/export/exporter/1580579736/saved_model.pb
estimator CNN/cnnmodel_dir/export/exporter/1580579685/variables/variables.index
estimator CNN/cnnmodel_dir/export/exporter/1580579685/variables/variables.data-00000-of-00001
estimator CNN/cnnmodel_dir/export/exporter/1580579685/saved_model.pb
estimator CNN/cnnmodel_dir/events.out.tfevents.1580579671.LAPTOP-42K07IEA
estimator CNN/cnnmodel_dir/eval/events.out.tfevents.1580579685.LAPTOP-42K07IEA
estimator CNN/cnnmodel_dir/checkpoint
estimator CNN/cnnmodel_dir/eval/events.out.tfevents.1580696982.LAPTOP-42K07IEA
estimator CNN/cnnmodel_dir/events.out.tfevents.1580696958.LAPTOP-42K07IEA
estimator CNN/cnnmodel_dir/export/exporter/1580696982/saved_model.pb
estimator CNN/cnnmodel_dir/export/exporter/1580696982/variables/variables.data-00000-of-00001
estimator CNN/cnnmodel_dir/export/exporter/1580696982/variables/variables.index
estimator CNN/cnnmodel_dir/export/exporter/1580697055/saved_model.pb
estimator CNN/cnnmodel_dir/export/exporter/1580697055/variables/variables.data-00000-of-00001
estimator CNN/cnnmodel_dir/export/exporter/1580697055/variables/variables.index
estimator CNN/cnnmodel_dir/model.ckpt-600.data-00000-of-00001
estimator CNN/cnnmodel_dir/model.ckpt-600.index
estimator CNN/cnnmodel_dir/model.ckpt-600.meta
estimator CNN/cnnmodel_dir/model.ckpt-656.data-00000-of-00001
estimator CNN/cnnmodel_dir/model.ckpt-656.index
estimator CNN/cnnmodel_dir/model.ckpt-656.meta
estimator CNN/training log/train_estimator_log_0202_2117.txt
estimator CNN/training log/train_estimator_log_0202_2128.txt
estimator CNN/cnnmodel_dir/eval/events.out.tfevents.1580697377.LAPTOP-42K07IEA
estimator CNN/cnnmodel_dir/events.out.tfevents.1580697360.LAPTOP-42K07IEA
estimator CNN/cnnmodel_dir/export/exporter/1580697377/saved_model.pb
estimator CNN/cnnmodel_dir/export/exporter/1580697377/variables/variables.data-00000-of-00001
estimator CNN/cnnmodel_dir/export/exporter/1580697377/variables/variables.index
estimator CNN/cnnmodel_dir/export/exporter/1580697463/saved_model.pb
estimator CNN/cnnmodel_dir/export/exporter/1580697463/variables/variables.data-00000-of-00001
estimator CNN/cnnmodel_dir/export/exporter/1580697463/variables/variables.index
estimator CNN/training log/train_estimator_log_0202_2135.txt
estimator CNN/cnnmodel_dir/eval/events.out.tfevents.1580831156.LAPTOP-42K07IEA
estimator CNN/cnnmodel_dir/events.out.tfevents.1580831136.LAPTOP-42K07IEA
estimator CNN/cnnmodel_dir/export/exporter/1580831156/saved_model.pb
estimator CNN/cnnmodel_dir/export/exporter/1580831156/variables/variables.data-00000-of-00001
estimator CNN/cnnmodel_dir/export/exporter/1580831156/variables/variables.index
estimator CNN/cnnmodel_dir/export/exporter/1580831231/saved_model.pb
estimator CNN/cnnmodel_dir/export/exporter/1580831231/variables/variables.data-00000-of-00001
estimator CNN/cnnmodel_dir/export/exporter/1580831231/variables/variables.index
estimator CNN/cnnmodel_dir/model.ckpt-583.data-00000-of-00001
estimator CNN/cnnmodel_dir/model.ckpt-583.index
estimator CNN/cnnmodel_dir/model.ckpt-583.meta
estimator CNN/training log/train_estimator_log_0204_1008.txt
estimator CNN/training log/train_estimator_log_0204_1018.txt
estimator CNN/training log/train_estimator_log_0204_1031.txt
estimator CNN/training log/train_estimator_log_0204_1035.txt
estimator CNN/training log/train_estimator_log_0204_1039.txt
estimator CNN/training log/train_estimator_log_0204_1045.txt
estimator CNN/cnnmodel_dir/eval/events.out.tfevents.1580837490.LAPTOP-42K07IEA
estimator CNN/cnnmodel_dir/events.out.tfevents.1580837472.LAPTOP-42K07IEA
estimator CNN/cnnmodel_dir/export/exporter/1580837490/saved_model.pb
estimator CNN/cnnmodel_dir/export/exporter/1580837490/variables/variables.data-00000-of-00001
estimator CNN/cnnmodel_dir/export/exporter/1580837490/variables/variables.index
estimator CNN/cnnmodel_dir/export/exporter/1580837533/saved_model.pb
estimator CNN/cnnmodel_dir/export/exporter/1580837533/variables/variables.data-00000-of-00001
estimator CNN/cnnmodel_dir/export/exporter/1580837533/variables/variables.index
estimator CNN/cnnmodel_dir/model.ckpt-100.data-00000-of-00001
estimator CNN/cnnmodel_dir/model.ckpt-100.index
estimator CNN/cnnmodel_dir/model.ckpt-100.meta
estimator CNN/cnnmodel_dir/model.ckpt-438.data-00000-of-00001
estimator CNN/cnnmodel_dir/model.ckpt-438.index
estimator CNN/cnnmodel_dir/model.ckpt-438.meta
estimator CNN/cnnmodel_dir/eval/events.out.tfevents.1580930855.LAPTOP-42K07IEA
estimator CNN/cnnmodel_dir/events.out.tfevents.1580930837.LAPTOP-42K07IEA
estimator CNN/cnnmodel_dir/export/exporter/1580930855/saved_model.pb
estimator CNN/cnnmodel_dir/export/exporter/1580930855/variables/variables.data-00000-of-00001
estimator CNN/cnnmodel_dir/export/exporter/1580930855/variables/variables.index
estimator CNN/cnnmodel_dir/export/exporter/1580930917/saved_model.pb
estimator CNN/cnnmodel_dir/export/exporter/1580930917/variables/variables.data-00000-of-00001
estimator CNN/cnnmodel_dir/export/exporter/1580930917/variables/variables.index
estimator CNN/training log/train_estimator_log_0204_1148.txt
estimator CNN/training log/train_estimator_log_0204_1156.txt
estimator CNN/training log/train_estimator_log_0204_1202.txt
estimator CNN/training log/train_estimator_log_0204_1208.txt
estimator CNN/training log/train_estimator_log_0204_1218.txt
estimator CNN/training log/train_estimator_log_0204_1221.txt
estimator CNN/training log/train_estimator_log_0204_1227.txt
estimator CNN/training log/train_estimator_log_0204_1230.txt
estimator CNN/training log/train_estimator_log_0205_1423.txt
estimator CNN/training log/train_estimator_log_0205_1426.txt
