model_config_list: {
    config: {
        name: "cnn_model1",
        base_path: "/models/cnn_model1",
        model_platform: "tensorflow"
    },
        config: {
        name: "cnn_model2",
        base_path: "/models/cnn_model2",
        model_platform: "tensorflow"
    },
    config: {
        name: "cnn_model3",
        base_path: "/models/cnn_model3",
        model_platform: "tensorflow"
    },
    config: {
        name: "attention_lstm_model",
        base_path: "/models/attention_lstm_model",
        model_platform: "tensorflow"
    },
    config: {
        name: "attention_gru_model",
        base_path: "/models/attention_gru_model",
        model_platform: "tensorflow"
    },
    config: {
        name: "lstm_model",
        base_path: "/models/lstm_model",
        model_platform: "tensorflow"
    },
    config: {
        name: "gru_model",
        base_path: "/models/gru_model",
        model_platform: "tensorflow"
    }
}